h1{
  color: blue;
  font-size: 30px;
  font-family: arial;
    margin-top: 60px; /* adjust this value to match the height of your navbar */
}

#bannerDesc > p {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.names{
  font-size: 20px;
  letter-spacing: 10px;
  padding-left: 180px;
}
.name{
  font-size: 32px;
  letter-spacing: 10px;
}
.map{
  height: 400px;
}
.post{
  width: 220;
  height: 294;
  object-fit: cover;
  border-radius: 20px;
}
#banner {
  width: 50%;
  display: block;
  margin: 0 auto; /* Centers the element horizontally */
}
#bannerDesc{
  width: 45%;
  height: 30vh;
  padding: 3%;
  text-align: justify;
  border-radius: 20px;
  position:absolute;
  top: 35%;
  left: 30%;
  color: white;
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 2%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.desc{
  margin:2%;
  padding:2%;
}

.box{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:2%;
}
.social{
  width:60px;
  height:60px;
  padding:1%;
}

.header{
  font-size:25px;
  font-weight:bold;
  margin-bottom:2%;
}

#contactBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
label {
	margin-top: 10px;
	margin-bottom: 5px;
}
input[type="text"], input[type="email"] {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	width: 300px;
}
input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #3e8e41;
}
#bottom{
  text-align: center;
  height:30vh;
  padding:3%;
  background-color: #F5F5F5;
}
.big{
  width:40%;
}

.small{
  width:20%;
}

